<p>
  widget-list works!
</p>
 <!--navbar-->
 <nav class="navbar navbar-light fixed-top bg- light">
  <a class="color-black" href="../page/page-list.html"><i class="fas fa-chevron-left"></i></a> 
  <a class="navbar-brand" href="Page-list.html">Widgets</a>
 <a class="color-black"href="widget-chooser.html"><i class="fas fa-plus"></i></a> 
      </nav>

<!--main content-->
<div class="container-fluid">
  <!--heading Widget-->
  <div>
      <!--Icon-->
      <div class="absolute right">
          <a href="widget-heading.html"><i class="fas fa-cog "></i></a>
          <a href="#"><i class="fas fa-bars"></i></a>
      </div>
      <!--Content-->
      <div>
          <h1>WELCOME</h1>
      </div>
<!--heading Widget-->
<div>
  <!--Icon-->
  <div class="absolute right">
      <a href="#"><i class="fas fa-cog "></i></a>
      <a href="widget-heading.html"><i class="fas fa-bars"></i></a>
  </div>
  <!--Content-->
  <div>
      <h3>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nemo nostrum enim voluptas fuga dolorum illo mollitia </h3>
  </div>
<!--Image Widget-->

  <!--Icon-->
  <div class="absolute right">
      <a href="widget-image.html"><i class="fas fa-cog "></i></a>
      <a href="#"><i class="fas fa-bars"></i></a>
  </div>
  <!--Content-->
  <div>
      <img
      class="img-fluid"
      src="https://images.pexels.com/photos/207962/pexels-photo-207962.jpeg?cs=srgb&dl=landscape-nature-red-207962.jpg&fm=jpg"
      alt="bird image-">

     <!--heading Widget-->
<div>
  <!--Icon-->
  <div class="absolute right">
      <a href="widget-heading.html"><i class="fas fa-cog "></i></a>
      <a href="#"><i class="fas fa-bars"></i></a>
  </div>
  <!--Content-->
  <div>
      <h5>Lorem ipsum dolor sit amet consectetur 
        adipisicing elit. Minus at provident, voluptas impedit repudiandae <a 
        href="http://www.google.com">google</a> dolore possimus nostrum in similique, veritatis alias itaque saepe velit facilis explicabo unde libero fuga minima?</h5>

      <!--Youtube widget-->
<div>
  <!--Icon-->
  <div class="absolute right">
      <a href="widget-youtube.html"><i class="fas fa-cog "></i></a>
      <a href="#"><i class="fas fa-bars"></i></a>
  </div>
  <!--Content-->
  <div class="embed-responsive embed-responsive-16by9">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/Bv_5Zv5c-Ts" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      <h3>Lorem, ipsum dolor sit amet consectetur adipisicing elit. fuga dolorum illo mollitia </h3>
  </div>  
          
    
  
<!--footer-->
<footer class="navbar navbar-light fixed-bottom
bg-light">
<div class="full-width">
<a class="color-black float-right"
href="../user/profile.html"><i class="fas fa-user"></i></a>
</div>