<p>
  profile works!
</p>
<form>
  <strong><label>Username</label></strong>           
  <br> 
  <input type="text" name="username" required>      
   <br> 
   <br>
   <strong><label>Email</label></strong>          
   <br>            
   <input type="email" name="email">     
   <br>
   <br>                   
    <strong><label>First Name</label></strong>             
   <br>            
   <input type="text" name="First Name"> 
    <br>
    <br> 
   <strong><label>Last Name</label></strong> 
   <br>
    <input type="text" name="Last Name">
   </form>    

    <br>
    
<button class="button">Websites</button>
<button class="button button1">Logout</button>