<p>
  three  
</p>     
              <!-- Navbard-->
        <nav class="navbar navbar-dark bg-primary fixed-top">
           <a class="navbar-brand" routerLink="/User/:uid"><b>Profile</b></a> 
           <a class="color-white" routerLink="/register"><i class="fas fa-check"></i></a>
        </nav>
  <form>
         <br> 
         <br>           
      <div class="form-group">
         <strong><label>Username</label></strong>           
         <br>         
         <input type="text" name="username" required>      
         <br>          
         <strong><label>Email</label></strong>          
         <br>                   
         <input type="email" name="email">     
         <br>                           
         <strong><label>First Name</label></strong>             
         <br>                   
         <input type="text" name="first name"> 
         <br>         
         <strong><label>Last Name</label></strong> 
         <br>
         <input type="text" name="last name">   
         <br>
         <br>
         <br>

           <a routerLink="/User/:uid/website" class="btn btn-primary btn-block">Websites</a> 
           <a routerLink="/login" class="btn btn-danger btn-block">Logout</a> 
      </div>
  </form>  
          <!-- Footer -->
    <footer>
          <nav class="navbar navbar-dark bg-primary fixed-bottom full-width" >
          <a class="color-white float-right" routerLink="/User/:uid"><i class="fas fa-user"></i></a>
          </nav>  
    </footer> 