          <!--navbar-->
        <nav class="navbar navbar-light fixed-top bg- light">  
             <a class="color-black" routerLink="/User/{{uid}}/website/{{wid}}/page/{{pid}}/widget">
                <i class="fas fa-chevron-left"></i></a> 
             <a class="navbar-brand" routerLink="/User/{{uid}}/website/{{wid}}/page/{{pid}}/widget/
               {{wgid}}">Edit Widget</a>
             <button class="color-black btn bg-transparent"><i class="fas fa-check"></i></button>
        </nav>
          <!--form-->  
        <div class="container">
          <form id="myForm" #myForm="ngForm" (ngSubmit)="update()">
                <!-- name -->
            <div class="from-group">
              <label for="name"><b>Name</b></label>
              <input placeholder="Widget Name" name="name" [(ngModel)]="widget.name"
              type="text" id="name" class="form-control">
            </div>
              <!--text-->
                <div class="form-group">
                  <label for="text"><b>Text</b></label>
                  <input name="text" [(ngModel)]="widget.text" placeholder="Widget Text"
                   type="text" id="text" class="form-control">
                </div>
                  <!--size-->
                <div class="form-group">
                  <label for="size"><b>Size</b></label>
                  <input name="size" [(ngModel)]="widget.size" type="number"
                   id="size" class="form-control">
                </div>
                  <button type="button" (click)="delete()" class="btn-danger btn-block">Delete</button>
          </form>
        </div>  
       <!--footer-->
        <footer class="navbar navbar-light fixed-bottom bg-light">
            <div class="full-width">
              <a class="color-black float-right" routerLink= "/User/{{uid}}"><i class="fas fa-user"></i></a>
            </div>
        </footer>