<p>
  nine
</p>
       <!--navbar-->
        <nav class="navbar navbar-light fixed-top bg light">
          <a class="color-black" routerLink="/User/:uid/website/:wid/page"><i class="fas fa-chevron-left"></i></a> 
          <a class="navbar-brand" routerLink="/User/:uidwebsite/:wid/page/new">Edit Page</a>
          <a class="color-black" routerLink="/User/:uid/website/:wid/page"><i class="fas fa-check"></i></a> 
        </nav>
        <br>
        <br>
         <!--form-->
        <div class="container">
            <form>
                <div>
                   <label for="name"><b>Name</b></label><input class="form-control" id="name" type="text"
                   placeholder="name of the page..." value="blog post">  
                </div>
                <div class="form-group">
                   <label for="title"><b>Title</b></label>
                   <input class="form-control" type="text page..." value="Page title">
                </div>
                  <a routerLink="/User/:uid/website/:wid/page" class="btn btn-lg btn-warning">Delete</a>
                  <a routerLink="/User/:uid/website/:wid/page" class="btn btn-lg btn-danger float-right">Submit</a>         
            </form>
        </div>
          <!--footer-->
        <footer class="navbar navbar-light fixed-bottom bg-light">
            <div class="full-width">
              <a class="color-black float-right"
               routerLink="/User/:uid"><i class="fas fa-user"> </i></a>
            </div>
        </footer>