<p>
  page-list works!
</p>
<!--Navbar-->
<nav class="navbar navbar-light fixed-top bg light">
  <a class="color-black" href="../website/website-list.html"><i class="fas fa-chevron-left"></i></a> 
  <a class="navbar-brand" href="Page-list.html">Pages</a>
  <a class="color-black"href="page-new.html"><i class="fas fa-plus"></i></a> 
  </nav>
  <!--List-->

  <div class="container">
     <ul class="list-group">
         <li class="list-group-item">
             <a href="../widget/widget-list.html">
              Blog Post</a>
             <a class="float-right"
             href="page-edit.html"><i class="fas fa-cog"></i></a>
         </li>
         <li class="list-group-item">
             <a href="../widget/widget-list.html">
              Blog</a>
             <a class="float-right"
             href="page-edit.html"><i class="fas fa-cog"></i></a>
         </li>
         <li class="list-group-item">
             <a href="../widget/widget-list.html">
              Home</a>
             <a class="float-right"
             href="page-edit.html"><i class="fas fa-cog"></i></a>
         </li>
         <li class="list-group-item">
         <a href="../widget/widget-list.html"> About</a>
         <a class="float-right"
         href="page-edit.html"><i class="fas fa-cog"></i></a>
         
               </li>
     <li class="list-group-item">
             <a href="../widget/widget-list.html">Contact Us</a>
             <a class="float-right"
             href="page-edit.html"><i class="fas fa-cog"></i></a>
         </li>
     </ul> 
  </div>
      <!--footer-->
      <footer class="navbar navbar-light fixed-bottom
bg-light">
<div class="full-width">
    <a class="color-black float-right"
    href="../user/profile.html"><i class="fas fa-user"> </i></a>
    </div>

</footer>