<p>
  widget-youtube works!
</p>
<!--navbar-->
<nav class="navbar navbar-light fixed-top bg- light">
  <a class="color-black" href="widget-list.html"><i class="fas fa-chevron-left"></i></a> 
  <a class="navbar-brand"  href="widget-heading.html">Edit Widget</a>
  <a class="color-black"href="widget-list.html"><i class="fas fa-check"></i></a>
</nav>
<!--form-->
<div class="container">
  <!--name-->
  <form>
      <div class="from-group">
          <label for="name"><b>Name</b></label>
          <input type="text" id="name" class="form-control">
      </div>
      <!--url-->
      <div class="from-group">
          <label for="url"><b>Url</b></label>
          <input type="text" id="url" class="form-control">
      </div>           
      <!--width-->
      <div class="from-group">
          <label for="width"><b>Width</b></label>
          <input type="text" id="width" class="form-control">
      </div>   
      <div class="from-group">
              <label for="upload"><b>Upload</b>
                  </label>
              <input type="text" id="upload" class="form-control">
          </div>   
      <a href="#" class="btn btn-primary btn-block">Upload Image</a>          
      <a href="Widget-list.html" class="btn btn-danger btn-block">Delete</a>
  </form>

<!--footer-->
<nav class="navbar navbar-light fixed-bottom bg-light">
  <div class="full-width">
      <a class="color-black float-right" href="../user/profile.html"><i class="fas fa-user"> </i></a>
  </div>
  </nav>