/* You can add global styles to this file, and also import other style files */
h1{
    color: blue;
    } 
 
    body { 
        background-color: #f4f4f4;
        font-family: Arial, Helvetica,
        sans-serif;
        font-size: 16px;
        font-weight: normal;
        /* Same as above */
        font: normal 16px areial, helvetica, 
        sans-serif;
        line-height: 1.6em;
        margin: 0;
         }
           a { 
               text-decoration: none;
               color: #000;              
           }
           a:hover {
               color: red;
           }
           a:active {
               color: green;
           }
 
    .container {
        width: 80%;
        margin: auto;
             }
             .button {
                 background-color: #333333;
                 color: #ffffff;
                 padding: 10px 15px;
                 border: none;
             } 
             .button:hover {
                 background:red;
                 color: #ffffff;
             }
             .clr {
                 clear: both;                
             }
 
 
    .box-1 {
             background-color: #333333;
             color: #ffffff;
             border-top: 5px red solid;
             border-right: 5px red solid;
             border-bottom: 5px red solid;
             border-left: 5px red solid;
 
             /* Same as above */
             border: 5px red solid;
 
             border-width: 3px;
             border-bottom-width: 10px;
             border-top-style: dotted;          
 
             padding-top: 20px;
             padding-right: 20px;
             padding-bottom: 20px;
             padding-left: 20px;
 
             /* Same as above */
             padding: 20px;
             
             margin-top: 20px;
             margin: 20px;
                } 
         .box-1 h1 {
             font-family: tahoma;
             font-weight: 800;
             font-style: italic;
             text-decoration: underline;
             text-transform: uppercase;
             letter-spacing: 0.2em;
             word-spacing: 1em;                        
         }
         .box-2 {
             border: 3px dotted #cccccc;
             padding: 20px;
             margin: 20px 0;            
         }
         .categories {
             border: 1px #ccc solid;
             padding: 10px;
             border-radius: 15px;
         } 
         .categories h2 {
             text-align: center;            
         } 
         .categories ul {
             padding: 0;
             list-style: square;
             list-style: none;
            
         }
         .categories li { 
             padding-bottom: 6px;
             border-bottom: dotted 1px #333;
             list-style-image: url('/images/check.png');
         }
         .my-form {
             padding: 20px;            
         }
         .my-form .form-group {
             padding-bottom: 15px;
         }
         .my-form label {
             display: block;           
         }
         .my-form input[type="text"], .my-form textarea {
             padding: 8px;
             width: 100%;            
         } 
         .my-form input[type="submit"] {
             background-color: #333333;
             color: #ffffff;
             padding: 10px 15px;
             border: none;            
         }
         .block {
             float: left;
             width: 33.3%;
             border: 1px solid #cccccc;
             padding: 10px;
             box-sizing: border-box;
             
         }        
 
         #main-block {
             float: left;
             width:70%;
             padding: 10px;
             box-sizing: border-box;
         }
         #sidebar {
             float: right;
             width: 30%;
             background-color: #333333;
             color: #ffffff;
             padding: 15px;
             box-sizing: border-box;
         } 
         .bg-transparent{
             background: transparent;
         }