<p>
  two
</p>
<div class="container">
  <h1>Register</h1>
    <form (ngSubmit)="register()" #myForm="ngForm">      
                <div class="form-group">            
                     <input class="form-control" name="UserName" [(ngModel)]="UserName"  
                       type="text" placeholder="UserName..." #userInput="ngModel">
                        <!--<div *ngIf="userInput.invalid && userInput.touched" 
                            class="alert alert-warning">Username cannot be empty</div>               
                          <div *ngIf="userError" class="alert alert-danger">This username is taken,
                              please try another one</div> -->
                </div>                        
                  <div class="form-group">                          
                        <input class="form-control" name="password" [(ngModel)]="password" 
                            type="password" placeholder="password" #passwordInput="ngModel">
                        <!--<div *ngIf="passwordError" class="alert alert-danger">The two passwords do 
                            not match, please try again</div>
                            <div *ngIf="passwordInput.invalid && passwordInput.touched" 
                            class="alert alert-warning">Password cannot be empty</div> -->
                  </div>                 
                   <br>
                    <div class="form-group">
                      <!--<div *ngIf="verifyPasswordInput.invalid && verifyPasswordInput.touched" 
                          class="alert alert-warning">Please enter your password again</div> -->
                           <input class="form-control" required name="verifyPassword" [(ngModel)]="verifyPassword" 
                         type="password" placeholder="verify password" #verifyPasswordInput="ngModel">
                    </div>                   
                     <br> 
    </form>        
  </div>         
                     <a routerLink="/User/:uid" type="submit" class="btn btn-primary btn-block">Register</a>
                     <br>           
                     <a routerLink="/login" class="btn btn-danger btn-block">Cancel</a>                                      
    