<p>
  two
</p>
<h1>Register</h1>
<div>
    <form>
          <div class="form-group"> 
            <input class="form-control" type="text" placeholder="username">
             <br>
             <br>
             <input class="form-control" type="password" placeholder="password">            
             <br>
             <br> 
             <input class="form-control" type="password" placeholder="verify password">
   
             <a routerLink="/User/:uid" class="btn btn-primary btn-block">Register</a>
             <br>           
            <a routerLink="/login" class="btn btn-danger btn-block">Cancel</a> 
          </div>
    </form>
</div>