          <nav class="navbar navbar-light fixed-top bg- light">
          <a class="color-black" routerLink="/User/ {{uid}}/website/{{wid}}/page/
             {{pid}}/widget"><i class="fas fa-chevron-left"></i></a> 
          <a class="navbar-brand" routerLink="/User/{{uid}}/website/{{wid}}/page/
             {{pid}}/widget/:wgid">Edit Widget</a>
          <button class="color-black btn bg-transparent" form="myForm" type="submit">
             <i class="fas fa-check"></i></button>
        </nav>
            <!--form-->
    <div class="container">
             <!--name-->
        <form id="myForm" #myForm="ngForm" (ngSubmit)="update"> 
             <div class="from-group">
               <label for="name"><b>Name</b></label>
               <input name="name"placeholder="Image Name" type="text" id="name" 
                  [(ngModel)]="widget.name" class="form-control">
             </div>
              <!--url-->
             <div class="from-group">
                <label for="url"><b>Url</b></label>
                <input name="url" placeholder="Image Url" type="text" id="url"
                  [(ngModel)]="widget.url" class="form-control">
             </div>           
            <!--width-->
             <div class="from-group">
               <label for="width"><b>Width</b></label>
               <input name="width" placeholder="Image Width" type="text" id="width" 
                 [(ngModel)]="widget.width" class="form-control">
             </div>             
              <button type="button" (click)="delete()" 
                 class="btn btn-danger btn-block">Delete</button>
        </form>
    </div>
              <!--footer-->
        <footer class="navbar navbar-light fixed-bottom bg-light">
          <div class="full-width">
            <a class="color-black float-right" routerLink="/User/{{uid}}">
              <i class="fas fa-user"> </i></a>
          </div>
        </footer>